.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding: 40px;
  background-color: #f9f9f9;
}
.cardVenda {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}
.cardVenda img {
  width: 150px;
  margin: 10px auto;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}
.cacardVenda h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
.cardVenda p {
  font-size: 1em;
  margin: 10px 0;
}
.cardVenda p strong {
  font-size: 1.6em;
}

.cardVenda .aVista {
  font-size: 0.8em;
}
.cardVenda ul {
  text-align: left;
  font-weight: bold;
}

.btn {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  background-color: #5a54e0;
}
.formas-pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: #333;
}
.formas-pagamento img {
  margin-top: 20px;
  width: 300px;
}

@media (max-width: 600px) {
  .cardVenda {
    max-width: 95vh;
    width: 95vh;
  }
}
