.buttomBanner,
.logo,
.textoBanner {
  position: absolute;
}
*,
.textoBanner {
  box-sizing: border-box;
}
.ebook-intro ul,
ol,
ul {
  list-style: none;
}
.btn,
.buttomBanner,
.faq-question,
a,
button {
  cursor: pointer;
}
.btn-acessar,
.whatsapp-container,
a {
  text-decoration: none;
}
.desafio-detox {
  padding: 50px 20px;
  background-color: #fff;
}
.desafio-detox .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.desafio-detox h2 {
  font-family: Klein, sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}
.btn-acessar,
.desafio-detox .card,
.footer-content p {
  font-family: Inter, sans-serif;
}
.desafio-detox .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.desafio-detox .card {
  width: 250px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.desafio-detox .card-icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.desafio-detox .card h3 {
  font-family: klein, sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}
.desafio-detox .card p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}
.desafio-detox .card.card-laranja {
  border: 2px solid #fd9f5b;
}
.desafio-detox .card.card-azul {
  border: 2px solid #adb0ff;
}
.desafio-detox .card.card-rosa {
  border: 2px solid #ffacec;
}
.desafio-detox .card.card-azul-claro {
  border: 2px solid #96c9ff;
}
.ebook-intro {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
}
.ebook-intro .container,
.faq-container {
  max-width: 800px;
  margin: 0 auto;
}
.ebook-intro h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}
.ebook-intro p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
  margin: 15px 0;
}
.ebook-intro ul {
  text-align: left;
  margin: 20px auto;
  padding: 0;
  max-width: 600px;
}
.ebook-intro ul li {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
}
.ebook-intro ul li::before {
  content: "✔";
  color: #0c0;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
  line-height: 1.4em;
}
.cta-section {
  margin-top: 30px;
}
.btn-acessar {
  display: inline-block;
  background-color: #d0e8a7;
  border: 2px solid #2b2b2b;
  color: #333;
  padding: 15px 25px;
  font-size: 1.2em;
  border-radius: 8px;
  font-weight: 700;
  transition: background-color 0.3s;
}
.btn-acessar:hover,
.buttomBanner:hover {
  background-color: #acc588;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding: 40px;
  background-color: #f9f9f9;
}
.cardVenda {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}
.cardVenda ul,
.faq-question,
.footer-section,
.review-content {
  text-align: left;
}
.faq,
.text-footer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardVenda img {
  width: 150px;
  margin: 10px auto;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}
.cacardVenda h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
.cardVenda p {
  font-size: 1em;
  margin: 10px 0;
}
.cardVenda p strong {
  font-size: 1.6em;
}
.cardVenda .aVista {
  font-size: 0.8em;
}
.faq-question,
.secao-detox .botao-detox {
  font-size: 1.2em;
  transition: background-color 0.3s;
}
.btn {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.btn:hover {
  background-color: #5a54e0;
}
.formas-pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: #333;
}
.formas-pagamento img {
  margin-top: 20px;
  width: 300px;
}
.container_banner,
header {
  width: 100%;
}
.faq {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 40px;
}
.faq h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.faq-item {
  margin-bottom: 15px;
}
.faq-question {
  width: 100%;
  padding: 15px;
  background-color: #2d88f1;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.faq-question:hover {
  background-color: #1a6bb3;
}
.faq-answer {
  padding: 10px 20px;
  background-color: #fff;
  border-left: 4px solid #2d88f1;
  display: none;
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}
.faq-item.open .faq-answer,
img {
  display: block;
}
.footer-section {
  background: url("../img/backgroundfooter.jpg") center/cover no-repeat;
  color: #fff;
  padding: 100px 20px;
  font-family: Klein, sans-serif;
}
.footer-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.footer-content h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.575);
}
.text-footer {
  color: #333;
  background-color: #fff;
  border-radius: 5%;
}
.footer-content p {
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
}
.opniaoMidia h2,
.textoBanner {
  font-family: Klein, sans-serif;
}
.opniaoMidia h2,
.secao-detox .conteudo-detox h2 {
  font-size: 2.5em;
}
header {
  position: relative;
}
.textoBanner {
  font-weight: 800;
  font-stretch: expanded;
  width: 50vw;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  animation: 1s ease-in-out forwards entradaClique;
  transform-origin: center;
}
.bannerPrincipal {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  display: block;
}
.logo {
  width: 150px;
  left: 10vw;
  top: 2dvh;
  transform: translate(-50%, -50%);
  animation: 0.5s ease-out forwards fadeAndScale;
}
.buttomBanner {
  top: 80%;
  left: 50%;
  background-color: #d0e8a7;
  font-family: Inter, sans-serif;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.5s;
  transform: translateY(20px);
  opacity: 0;
  animation: 0.8s ease-out forwards fadeInMoveUp;
}
.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: #25d366;
  border-radius: 30px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}
.whatsapp-container:hover {
  background-color: #128c7e;
}
.whatsapp-icon {
  font-size: 30px;
  margin-right: 10px;
}
.whatsapp-text {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}
@media (max-width: 1636px) {
  .textoBanner {
    width: 80vw;
    top: 40%;
    font-size: 4rem;
  }
}
@media (max-width: 1036px) {
  .textoBanner {
    font-size: 3.3rem;
  }
}
@media (max-width: 816px) {
  .textoBanner {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .cardVenda {
    max-width: 95vh;
    width: 95vh;
  }
  .footer-content h2 {
    font-size: 3rem;
  }
  .bannerPrincipal {
    height: 100dvh;
  }
  .textoBanner {
    font-size: 1.5rem;
    top: 50%;
  }
  .buttomBanner {
    font-size: 12px;
  }
}
@keyframes fadeAndScale {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInMoveUp {
  0% {
    transform: translateY(20px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
@keyframes entradaClique {
  0% {
    transform: scale(0.8) translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) translateX(-50%) translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(-50%) translateY(-50%);
    opacity: 1;
  }
}
.opniaoMidia {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.content-midias img {
  width: 100px;
  margin-bottom: 10px;
}
.secao-detox .conteudo-detox h2,
.testimonial-section h2 {
  font-family: Klein, sans-serif;
  color: #333;
  margin-bottom: 20px;
}
.content-midias {
  display: flex;
  flex-wrap: wrap;
}
.content-midias .midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  width: 20%;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
a {
  color: inherit;
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: 0 0;
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  min-height: 100vh;
}
.secao-detox {
  background-color: #fff;
  padding: 50px 20px;
}
.secao-detox .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secao-detox .imagem-detox img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}
.secao-detox .conteudo-detox {
  max-width: 50%;
  text-align: left;
}
.secao-detox .conteudo-detox p {
  font-family: Inter, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
  margin-bottom: 30px;
}
.secao-detox .botao-detox {
  display: inline-block;
  font-family: Inter, sans-serif;
  font-weight: 800;
  background-color: violet;
  border: 1px solid #333;
  color: #333;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
}
.secao-detox .botao-detox:hover {
  background-color: #d31cd3;
}
@media (max-width: 768px) {
  .desafio-detox .card {
    width: 100%;
    max-width: 350px;
  }
  .secao-detox .container {
    flex-direction: column;
    text-align: center;
  }
  .secao-detox .imagem-detox img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .secao-detox .conteudo-detox {
    max-width: 100%;
    text-align: center;
  }
}
.testimonial-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  font-family: Inter, sans-serif;
}
.review,
.testimonial {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}
.testimonial-section h2 {
  font-weight: 800;
  font-size: 24px;
}
.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.testimonial {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}
.testimonial img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.testimonial p {
  font-size: 16px;
  color: #555;
}
.testimonial-reviews {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.review {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.review-content p {
  margin: 0;
  color: #333;
}
.review-content p strong {
  font-size: 14px;
  color: #222;
}
@media (max-width: 800px) {
  .content-midias .midia {
    width: 50%;
  }
  .review {
    flex-direction: column;
  }
}
