.noticia {
    background-color: #ecebeb;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    
}
.container {
    background-color: #f5f4f4 ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
}
.autor {
    font-style: italic;
    color: #666;
}
.cnn-logo {
    display: block;
    margin: 0 0;
    max-width: 150px;
    width: 100px;
}

.bg-logo--cnn{
    width: 100%;
    background-color: #000;
    color: #fff;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bg-logo--cnn h2{
    padding: 10px;
}

@media (max-width: 600px){
    .bg-logo--cnn h2{
        font-size: 0.87em;
    }
}
