.opniaoMidia {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.opniaoMidia h2 {
  font-family: "Klein", sans-serif;
  font-size: 2.5em;
}

.content-midias img {
  width: 100px;
  margin-bottom: 10px;
}
.content-midias {
  display: flex;
  flex-wrap: wrap;
}

.content-midias .midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  width: 20%;
}

@media (max-width: 800px) {
  .content-midias .midia {
    width: 50%;
  }
}
